*.pyc
*.bak
data/
summ/
ckpt/
venv/
hmm/
weight_models_old/
weight_models_new/
framewise_2016/
tests.py
example_stepwise_prediction.py
results/
*.pkl
*.png
*.zip
hmm_2
listen_example copy.py
*.bash
plots_thesis/*


# Latex
*.aux
*.log
*.out
*.synctex.gz
roadmap.pdf
*.bbl
*.blg
