*.pyc
*.bak
summ/
ckpt/
venv/
hmm/
framewise_2016/
tests.py
example_stepwise_prediction.py
results/
*.png
*.zip
hmm_2
listen_example copy.py
script_train_mlm_3.bash


# Latex
*.aux
*.log
*.out
*.synctex.gz
roadmap.pdf
*.bbl
*.blg
